.bnt-control-table{
    width: 120px;
    margin: 0 5px;
    float: left;
}
.img-preview{
    width: 200px;
    float: right;
    border-radius: 15px;
}
.img-preview-input{
    float: right;
    width: 200px;
    margin-top: 10px;
}
.form-label{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 0;
}
.btn-save-edit-article{
    margin-top: 20px;
}
.image-news-preview{
    padding: 20px;
}